html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.loop-action {
         position: absolute;
         left: 50%;
         top: 50%;
         z-index: 3;
         opacity: 0;
         transform: translate(-50%, -50%);
         transition: .3s ease-in-out;

.loop-action a {
         text-decoration: none;
         display: block;
         border: 1px solid white;
         white-space: nowrap;
         text-transform: uppercase;
         padding: .5em 1em;
         font-size: 14px;
         line-height: 1.6;
         outline: none;
         position: relative;
         overflow: hidden;
         z-index: 4;
         text-align: center;
         color: white;
         min-width: 160px;
         margin: 5px auto;
         transition: .3s ease-in-out;
      }

.loop-action a:after {
         content: '';
         position: absolute;
         left: -220%;
         top: -500%;
         width: 140%;
         height: 1000%;
         transform: rotate(45deg);
         background: white;
         z-index: -1;
         transition: .3s ease-in-out;
      }

.loop-action a:hover {
         color: black;
      }

.loop-action a:hover:after {
         left: 0%;

.border {
         width: 300px;
         margin: 0 auto;
         background: white;
         padding: 20px;
         border: 1px solid #F1E7E8;
      }

.wrap {
         height: 100%;
         position: relative;
      }

.product-wrap {
         position: relative;
      }

.product-wrap:after {
         content: '';
         background: rgba(73, 102, 162, .5);
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
         top: 0;
         z-index: 2;
         opacity: 0;
         transform: scale(.3);
         transition: .3s ease-in-out;
      }

.border:hover .product-wrap:after {
         opacity: 1;
         transform: scale(1);
      }

.product-wrap a {
         display: block;
         text-decoration: none;
      }

.product-wrap img {
         display: block;
         width: 100%;
      }

.create-blog {
         margin-top: 20px;
         text-align: center;
         padding: 20px;
         border-top: 1px solid #F1E7E8;
         background: #F1E7E8;

}

#id_title_name {
  width:100%;
  padding:10px;
  border-radius:10px;
}