<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Страница обо мне</title>
</head>
<body>
    <h1>Перфилов Илья Викторович</h1>
    <h2>Junior backend developer (Python)</h2>

    <table>
        <tr>
            <td><img src="static/photo1.jpeg" alt="я на Эльбрусе в феврале 2019"></td>
            <td width="50px"></td>
            <td width="900px">
                <h2 class="labale">Образование</h2>
                <ul>
                    <li>
                        <p><strong>Московский авиационный институт (МАИ)</strong> | <i>2010-2016</i> | Факультет №2 - Двигатели летательных аппаратов.</p>
                        <p>Закончил институт в 2016 году по специальности инженер-конструктор ракетных двигателей. Тема специальной части диплома "Обеспечение прочности лопаток турбины ТНА РД-180"</p>
                    </li>
                    <li>
                        <p><strong>Общеобразовательная школа №719 г.Москва</strong> | <i>2000-2010</i> |</p>
                        <p>Закончил школу с медалью за отличия в учебе</p>
                    </li>

                </ul>
                <h2 class="labale">Навыки</h2>
                <ul>
                    <li>
                        <p><strong>Hard-skills:</strong>  Python, HTML, CSS, SQL, Microsoft Excel, Autocad, Solidworks, Flask, Django, Mathcad</p>
                    </li>
                    <li>
                        <p><strong>Soft-skills:</strong>  дружелюбность, умение работать в команде, ответственность, не боюсь сложных задач, быстрая обучаемость и адаптивность</p>
                    </li>
                </ul>
                <h2 class="labale">Интересные факты</h2>
                <ul>
                    <li>
                        <p>Хожу в горные походы с 12 лет. Побывал во многих горных районах России: Кавказ, Алтай, Хибины, Урал, Байкал, Камчатка. Совершил первое восхождение на Эльбрус в возрасте 14 лет</p>
                    </li>
                    <li>
                        <p>С четвертого курса института работал в департаменте качества московского офиса Airbus - крупнейшего производителя авиационной техники в мире</p>
                    </li>
                </ul>
               

            </td>
        </tr>
    </table>


</body>
</html>